
body{
  box-sizing: border-box;
}

.container{
  margin-bottom: 100px;
  
}
.nav-right{
  position: absolute;
  right: 0px;
}

section{
  height: 500px;
}

.col-md-6 img{
  height: 100%;
  width: 100%;
}
.row{
  height: 100%;
}

.card-body{
  text-align: center;
}

 .card img{
  height: 200px;
  width:200px
  
} 

.card-footer{
  background-color: #fff;
  border: none;
  text-align: center;
  
}

.buy-now-button{
  background-color: rgb(0, 0,0);
  padding: 6px 15px;
  color: #fff;
  border-radius: 8px;
}


 /* .img-div{
  border:none;
  padding: 15px 20px ;
  box-shadow: 10px 10px 20px;
  
  
}  */

.card , .img-div img{
  box-shadow: 10px 10px 20px gray;
  border-radius: 8px;
  padding: 20px 25px ;
}

/* .img-div img{
  heigh:200px;
  width: 200px; */
  


.height-400{
  height:400px;
}

